h1, li {
    color: var(--primaryFont);
    font-family: KARNIVOB;
}

li {
    margin: 20px 20px 20px 0px;
}

h1 {
    font-size: 4vh;
    color: var(--neonViolet);
    font-family: KARNIVBL;
    margin: 20px 0 20px 20px;
    user-select: none;
}

ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

nav {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}

@media (orientation: landscape) {
    ul {
        flex-direction: row;
    }
    h1 {
        font-size: 10vh;
    }
}

@media (orientation: portrait) {
    ul {
        flex-direction: column;
    }
    h1 {
        font-size: 5vh;
        font-family: KARNIVOB;
    }
}

nav > ul > li > a {
    text-decoration: none;
}